/* 左侧menu样式调整 */
.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: #e72420;
  height: 32px;
  line-height: 32px;
  padding: 0 1.618em;
  margin: 12px 0 0;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 85%;
  white-space: nowrap;
}
.wy-menu-vertical a:active {
  background-color: #000;
}
.wy-nav-side {
  background: #181818;
}
.wy-side-nav-search input[type=text] {
  border-color: #e72420;
}

/* 隐藏右侧广告 */
#readthedocs-ea {
  display: none;
  a:visited {
    color: #2980b9;
  }
}

/* 隐藏底部广告 */
#readthedocs-ea-text-footer {
  display: none;
}

readthedocs-flyout {
  display: none;
}

/* 面包屑样式调整 */
.wy-breadcrumbs-translate {
  margin-right: 24px;
  float: right;
  padding-top: 4px !important;
}

.wy-breadcrumbs-aside {
  position: relative;
  top: -1.618em;
  right: -3.236em;
}

@media screen and (max-width: 768px) {
  .wy-breadcrumbs-translate {
    margin-right: 8px;
  }
  .wy-breadcrumbs-aside {
    position: absolute;
    top: 0;
    right: 0;
  }
  .wy-breadcrumbs-aside svg {
    fill: #fff !important;
    color: #e72420 !important;
  }
}

.wy-nav-content {
    width: 100%;
    max-width: 1600px;
    margin: 0;
}

#lightbox {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.4s;
    user-select: none;
}
#lightbox.show {
    visibility: visible;
    opacity: 1;
}
#lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    transition: transform 0.1s ease-out;
    cursor: grab;
    transform-origin: center center;
}
#lightbox img:active {
    cursor: grabbing;
}

.centered-table-text {
    text-align: center;
    vertical-align: middle;
}

.video-container iframe {
  border: none;
}

/* 定义按钮的样式 */
.rounded-button {
    background-color: #0096FF !important;    /* 按钮的背景颜色 */
    color: whitesmoke !important;            /* 按钮的文本颜色 */
    font-size: 16px;                         /* 按钮的字体大小 */
    padding: 10px 20px;                      /* 按钮的内边距 */
    border: none;                            /* 按钮的边框样式 */
    border-radius: 10px;                     /* 按钮的圆角 */
    cursor: pointer;                         /* 按钮的鼠标指针样式 */
    transition: background-color 0.3s ease;  /* 按钮的过渡效果 */
    text-decoration: none;                   /* 移除超链接的默认下划线 */
    display: inline-block;                   /* 超链接的显示方式为块级元素 */
}

/* 鼠标悬停时的样式 */
.rounded-button:hover {
    background-color: #89CFF0 !important;  /* 鼠标悬停时改变背景颜色 */
}
